<div class="container-fluid" >
  <div class="row" style='margin-top:75px'>
    <div class="col-md-6 col-md-offset-3">
      <h3>Change Password</h3>
      <form id="changePasswordForm" class="form" name="changePassword" method="post" ng-submit="onChangePassword()" novalidate>
        <div ng-show="!token" class="form-group">
          <label for="password">Current Password</label>
          <input type="password" class="form-control" id="password" ng-model="credentials.password" style="width: 200px">
        </div>
        <div ng-show="token" class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" style="width: 200px" value="{{user.email}}">
        </div>
        <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
        <div class="form-group">
          <label for="password">New Password</label>
          <input type="password" class="form-control" id="newPassword" ng-model="credentials.newPassword" style="width: 200px">
        </div>
        <div class="form-group">
          <label for="password">Confirm New Password</label>
          <input type="password" class="form-control" id="newPasswordConfirm" ng-model="credentials.newPasswordConfirm" style="width: 200px">
        </div>
        <div ng-show="formSuccess" class="alert alert-success" role="alert">
          <span class="sr-only">Success:</span>
          {{formSuccess.message}}
        </div>
        <div ng-show="formError" class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          {{formError.message}}
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-large btn-primary" name="submit" value="Password" ng-disabled="changePasswordForm.$invalid">Change Password</button>
        </div>
      </form>
</div><!-- end of container-fluid-->
