<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"> <!-- left nav bar -->
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">Frontend</li>
                    <li class="active"><a href="#">Volunteer</a></li>
                    <li><a href="#">Donate</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Browse<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="#">Charities/Causes</a></li>
                          <li><a href="#">People</a></li>
                          <li><a href="#">Groups</a></li>
                          <li><a href="#">Vignettes</a></li>
                        </ul>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#">Our Story</a></li>
                    <li><a href="#">How to be an upstart</a></li>
                    <li><a href="#">How to start a group</a></li>
               </ul>
           </div><!--/.well -->
        </div><!--/span-->
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-6">
                  <h1>Appointment Booked!</h1>
                  <h3>Confirm Code is {{appointment.confirmationNumber}}
                </div><!--/span-->
            </div>
            <div class="row">
              <div class="col-sm-12">
                <h3>Preparing for your Therapy Appointment</h3>
              </div>
            </div>
            <div class="row">
              <ul>
                <li>Make sure you have connectivity.</li>
                <li>Login 5 minutes before your start time.</li>
                <li>During your therapy session appointment, you must be in the state where your therapist practices.</li>
              </ul>
            </div><!-- end of row-->
        </div><!--/span-->
    </div><!--/row-->

    <footer class="footer"><p>All rights reserved.</p></footer>
</div>
