<div class="container-fluid" >
  <div class="row" style='margin-top:75px'>
    <div class="col-md-6 col-md-offset-3">
      <h3>Change Password</h3>
      <form class="form" name="changePasswordForm" method="post" ng-submit="onChangePassword()" novalidate>
        <div ng-show="!token" class="form-group">
          <label for="password">Current Password</label>
          <input type="password" class="form-control" name="password" ng-model="credentials.password" style="width: 200px">
        </div>
        <div ng-show="token" class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" name="email" style="width: 200px" value="{{user.email}}">
        </div>
        <p ng-show="changePasswordForm.email.$invalid && !changePasswordForm.email.$pristine" class="help-block">Enter a valid email.</p>
        <div class="form-group">
          <label for="password">New Password (minimum 8 characters)</label>
          <ng-password-meter password="credentials.newPassword"></ng-password-meter>
          <input type="password" class="form-control" name="newPassword" ng-model="credentials.newPassword" style="width: 200px" required>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : changePasswordForm.newPasswordConfirm.$invalid && !changePasswordForm.newwPasswordConfirm.$pristine }">
          <label for="password">Confirm New Password</label>
          <input type="password" class="form-control" name="newPasswordConfirm" ng-model="credentials.newPasswordConfirm" style="width: 200px" required>
          <p ng-show="changePasswordForm.newPasswordConfirm.$invalid && !changePasswordForm.newPasswordConfirm.$pristine" class="help-block">Passwords do not match.</p>
        </div>
        <div ng-show="successMessage" class="alert alert-success" role="alert">
          <span class="sr-only">Success:</span>
          {{successMessage.message}}
        </div>
        <div ng-show="errorMessage" class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          {{errorMessage.message}}
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-large btn-primary" name="submit" value="Password" ng-disabled="changePasswordForm.$invalid">Change Password</button>
        </div>
      </form>
</div><!-- end of container-fluid-->
