        <link rel="stylesheet" href="stylesheets/chat.css" type="text/css"/>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3"> <!-- left nav bar -->
                    <div class="well sidebar-nav">
                        <ul class="nav nav-list">
                            <li class="nav-header">Frontend</li>
                            <li class="active"><a href="#">Volunteer</a></li>
                            <li><a href="#">Donate</a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Browse<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                  <li><a href="#">Charities/Causes</a></li>
                                  <li><a href="#">People</a></li>
                                  <li><a href="#">Groups</a></li>
                                  <li><a href="#">Vignettes</a></li>
                                </ul>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#">Our Story</a></li>
                            <li><a href="#">How to be an upstart</a></li>
                            <li><a href="#">How to start a group</a></li>
                       </ul>
                   </div><!--/.well -->
                </div><!--/span-->
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="breadcrumb">
                                <li>
                                    <a href="#">Home</a> <span class="divider">><a href="#"> My Profile</a><span class="divider"></span>

                                </li>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                          <ul class="pages">
                            <li class="chat page">
                              <div class="chatArea">
                                <ul class="messages"></ul>
                              </div>
                              <input class="inputMessage" placeholder="Type here..."/>
                            </li>
                            <li class="login page">
                              <div class="form">
                                <h3 class="title">What's your nickname?</h3>
                                <input class="usernameInput" type="text" maxlength="14" />
                              </div>
                            </li>
                          </ul>
                        </div>
                    </div>

                </div>
            </div><!--/row-->
            <footer class="footer"><p>All rights reserved.</p></footer>
        </div>
        <script src='http://localhost:3000/socket.io/socket.io.js'></script>
        <script src="javascripts/chat.js"></script>
