<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron jumbotron-getting-started">
    <h2>Congratulations!</h2>
    <p>Wellshana is your destination to get the best real-time mental health services in the comfort of your own home. You are on your way to getting help for mental health and wellness.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
</div>
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-12">
      <video controls="controls" autoplay="autoplay">
        <source src="http://techslides.com/demos/sample-videos/small.mp4" type="video/mp4">
        <source src="vstreamer.asp?video=gizmo.webm" type="video/webm">
        <source src="vstreamer.asp?video=gizmo.ogv" type="video/ogg">
        Video not playing? <a href="vstreamer.asp?video=gizmo.mp4">Download file</a> instead.
      </video>
      <div class="profile-section">
        <h3 class="profile-section-title">Test your video and audio</h3>
        <p>Wellshana uses a technology called WebRTC which is only currently supported and tested with FireFox. Chrome. and Opera. </p>
      </div>
      <div class="profile-section">
        <h3 class="profile-section-title">We value your privacy</h3>
        <p>Wellshana uses only the most secure web technology. We have business associate agreements with mental health professional to protect your mental health records.</p>
      </div>
      <div class="profile-section">
        <h3 class="profile-section-title">Create a profile and enter your payment information</h3>
        <p>Creating a profile is easy and only takes a few minutes to complete. <button class="btn btn-primary" ui-sref="signup.start">Signup</button></p>
      </div>
      <div class="profile-section">
        <h3 class="profile-section-title">Browse the directory for therapists and schedule an appointment</h3>
        <p>You can look for available time slots and speak to a mental health professional either immediately or at a later date and time.</p>
      </div>
    </div>

  </div>
  <hr>
