<div ng-repeat="reply in message.replies" class="row">
  <div ng-hide="{{reply.fromUser.userId === fromUser.id}}" class="col-md-2">
      <img class="img-circle pull-right" width="75"ng-src="{{toUser.defaultProfImage.imagePath}}{{toUser.defaultProfImage.imageName}}">
      <label class="pull-right">{{reply.fromUser.name.firstName}} {{reply.fromUser.name.lastName}}</label>
  </div>
  <div class="col-md-7">
    <div class="panel panel-default">
      <span class="message-timestamp" style="padding: 5px 5px">{{reply.sentDate | date: 'MMMM dd'}}</span>
      <div class="panel-body">
          <div ng-bind-html="reply.body"></div>
      </div>
      <span class="message-timestamp">{{reply.sentDate | date: 'hh:mm a'}}</span>
    </div>
  </div>
  <div ng-show="{{reply.fromUser.userId === fromUser.id}}" class="col-md-2">
    <a ui-sref="prof-detail({id: '{{reply.fromName}}' })">
        <img class="img-circle" width="75" ng-src="{{fromUser.defaultProfImage.imagePath}}{{fromUser.defaultProfImage.imageName}}">
    </a>
    <label>{{reply.fromUser.name.firstName}} {{reply.fromUser.name.lastName}}</label>
  </div>
</div><!-- end of row -->
<div class="row">
  <div class="col-md-12">
    <form class="form" id="replyToMessage" name="replyToMessage" method="post" ng-submit="onReplyToMessage()">
      <div class="form-group">
        <br>
        <textarea rows="10" cols="75" ng-model="messageForm.body" />
      </div><!-- end of form group -->
      <div class="form-group">
        <div ng-show="formSuccess" class="alert alert-success" role="alert">
          <span class="sr-only">Success:</span>
          {{formSuccess.message}}
        </div>
        <div ng-show="formError" class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          {{formError.message}}
        </div>
        <button type="button" class="btn btn-large btn-primary" name='Cancel' value="Cancel" ui-sref="inbox">Cancel</button>
        <button type="submit" class="btn btn-large btn-primary" name='Send' value="Send">Send Message</button>
      </div><!-- end of form group -->
    </form>
  </div><!-- end of col -->
</div><!-- end of row-->
