<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"> <!-- left nav bar -->
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">Frontend</li>
                    <li class="active"><a href="#">Volunteer</a></li>
                    <li><a href="#">Donate</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Browse<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="#">Charities/Causes</a></li>
                          <li><a href="#">People</a></li>
                          <li><a href="#">Groups</a></li>
                          <li><a href="#">Vignettes</a></li>
                        </ul>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#">Our Story</a></li>
                    <li><a href="#">How to be an upstart</a></li>
                    <li><a href="#">How to start a group</a></li>
               </ul>
           </div><!--/.well -->
        </div><!--/span-->
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">

                  <h1>Find a Therapist</h1>
                        <form id="searchForm" class="form-inline" name="prof-search" method="post" ng-submit="onFormSubmit()">
                          <fieldset id="searchFieldset">
                              <div class="form-group">
                                <label for="lastName">Last Name</label>
                                <input type="text" class="form-control" id="lastname" placeholder="Last Name" size="25" style="width: 200px">
                              </div>
                              <div class="form-group">
                                <label for="city">City</label>
                                <input type="text" class="form-control" id="city" placeholder="City" style="width: 200px">
                              </div>
                              <div class="form-group">
                                <label for="state">State</label>
                                <select class="form-control" id="state" style="width: 200px">
                                  <option selected="selected" value="0">State (optional)</option>
                                  <option disabled="disabled" value="-1">-----------------</option>
                                  <option value='Alabama'>Alabama</option>
                                  <option value='Alaska'>Alaska</option>
                                  <option value='Alberta'>Alberta</option>
                                  <option value='Arizona'>Arizona</option>
                                  <option value='Arkansas'>Arkansas</option>
                                  <option value='British Columbia'>British Columbia</option>
                                  <option value='California'>California</option>
                                  <option value='Colorado'>Colorado</option>
                                  <option value='Connecticut'>Connecticut</option>
                                  <option value='Delaware'>Delaware</option>
                                  <option value='District of Columbia'>District of Columbia</option>
                                  <option value='Florida'>Florida</option>
                                  <option value='Georgia'>Georgia</option>
                                  <option value='Guam'>Guam</option>
                                  <option value='Hawaii'>Hawaii</option>
                                  <option value='Idaho'>Idaho</option>
                                  <option value='Illinois'>Illinois</option>
                                  <option value='Indiana'>Indiana</option>
                                  <option value='Iowa'>Iowa</option>
                                  <option value='Kansas'>Kansas</option>
                                  <option value='Kentucky'>Kentucky</option>
                                  <option value='Louisiana'>Louisiana</option>
                                  <option value='Maine'>Maine</option>
                                  <option value='Manitoba'>Manitoba</option>
                                  <option value='Maryland'>Maryland</option>
                                  <option value='Massachusetts'>Massachusetts</option>
                                  <option value='Michigan'>Michigan</option>
                                  <option value='Minnesota'>Minnesota</option>
                                  <option value='Mississippi'>Mississippi</option>
                                  <option value='Missouri'>Missouri</option>
                                  <option value='Montana'>Montana</option>
                                  <option value='Nebraska'>Nebraska</option>
                                  <option value='Nevada'>Nevada</option>
                                  <option value='New Brunswick'>New Brunswick</option>
                                  <option value='New Hampshire'>New Hampshire</option>
                                  <option value='New Jersey'>New Jersey</option>
                                  <option value='New Mexico'>New Mexico</option>
                                  <option value='New York'>New York</option>
                                  <option value='Newfoundland and Labrador'>Newfoundland and Labrador</option>
                                  <option value='North Carolina'>North Carolina</option>
                                  <option value='North Dakota'>North Dakota</option>
                                  <option value='Nova Scotia'>Nova Scotia</option>
                                  <option value='Ohio'>Ohio</option>
                                  <option value='Oklahoma'>Oklahoma</option>
                                  <option value='Ontario'>Ontario</option>
                                  <option value='Oregon'>Oregon</option>
                                  <option value='Pennsylvania'>Pennsylvania</option>
                                  <option value='Prince Edward Island'>Prince Edward Island</option>
                                  <option value='Puerto Rico'>Puerto Rico</option>
                                  <option value='Quebec'>Quebec</option>
                                  <option value='Rhode Island'>Rhode Island</option>
                                  <option value='Saskatchewan'>Saskatchewan</option>
                                  <option value='South Carolina'>South Carolina</option>
                                  <option value='South Dakota'>South Dakota</option>
                                  <option value='Tennessee'>Tennessee</option>
                                  <option value='Texas'>Texas</option>
                                  <option value='Utah'>Utah</option>
                                  <option value='Vermont'>Vermont</option>
                                  <option value='Virgin Islands'>Virgin Islands</option>
                                  <option value='Virginia'>Virginia</option>
                                  <option value='Washington'>Washington</option>
                                  <option value='West Virginia'>West Virginia</option>
                                  <option value='Wisconsin'>Wisconsin</option>
                                  <option value='Wyoming'>Wyoming</option>
                                  <option value='Yukon'>Yukon</option>
                                </select>
                              </div>
                              <button type="submit" class="btn btn-large btn-primary glyphicon glyphicon-search" name='Submit' value="Search" ui-sref='prof-results'
                                title="Search for Therapists near you."></button>

                            <div id="searchLinks">
                              <a href="#/prof-search?t=zip"
                               class="btn btn-small btn-link"
                               title="Find Therapists by City or Zip">City or Zip</a>

                              <a href="#/prof-results?t=name"
                               class="btn btn-small btn-link active"
                               title="Find Therapists by Last Name">Last Name</a>

                              <a href="#/prof-search?t=cname"
                               class="btn btn-small btn-link"
                               title="Find Therapists by Company Name">Company Name</a>
                            </div>
                          </fieldset>
                        </form>


                </div><!--/span-->
            </div>
        </div><!--/span-->
    </div><!--/row-->

    <footer class="footer"><p>All rights reserved.</p></footer>
</div>
