<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-body">
      <form id="editIssuesForm" name="form" method="post">
        <div checkbox-filter-list name="issues" model="therapist.profilePage.issues" list="issuesList" limit=10 title="Issues"></div>
        <div checkbox-filter-list name="gender" model="therapist.profilePage.gender" list="genderList" limit=10 title="Gender"></div>
        <div checkbox-filter-list name="sexuality" model="therapist.profilePage.sexuality" list="sexualityList" limit=10 title="Sexuality"></div>
        <div checkbox-filter-list name="age" model="therapist.profilePage.age" list="ageList" limit=10 title="Age"></div>
        <div checkbox-filter-list name="treatmentStyle" model="therapist.profilePage.treatmentStyle" list="treatmentStyleList" limit=10 title="Treatment Style"></div>
        <div class="form-group">
          <button type="submit" class="btn btn-sm btn-primary" name="Cancel" value="Cancel"  ui-sref='profile'>Cancel</button>
          <button type="submit" class="btn btn-sm btn-primary" name="Submit" value="Submit" ng-click="onFormSubmit()">Submit</button>
        </div>
      </form>
    </div>
  </div><!--end of column -->
</div><!--end of row-->
